[submodule "themes/hugo-casper-two"]
	path = themes/hugo-casper-two
	url = https://github.com/eueung/hugo-casper-two.git

[submodule "kross-hugo"]
	
	path = themes/kross-hugo
	
	url = https://github.com/themefisher/kross-hugo.git
