[submodule "themes/hugo-casper-two"]
	path = themes/hugo-casper-two
	url = https://github.com/eueung/hugo-casper-two.git

[submodule "kross-hugo"]
	
	path = themes/kross-hugo
	
	url = https://github.com/themefisher/kross-hugo.git
[submodule "themes/kross-hugo"]
	path = themes/kross-hugo
	url = https://github.com/themefisher/kross-hugo.git
[submodule "public"]
	path = public
	url = https://github.com/805bluebell/805bluebell.github.io.git
